<h1>Dice Game</h1>

<h2> Welcome </h2>

Here are the rules:

	<ul >
		<li> Roll the dice to start the game. </li>
		<li> If your first roll is a 7 or 11, you win. </li>
		<li> If your first roll is a 2, 3 or a 12, you lose. </li>
		<li> Anything else becomes your goal number.  Roll your goal again before rolling a 7, and you win.  Roll a 7 instead and you lose.</li>
	</ul>


<%= button_to "Roll to start the game!", "/dice/startgame", :class => "button", :method => :get  %>