<h1>Dice Game</h1>

<p><img src="https://uchicago.s3.amazonaws.com/d0<%= @d1.first %>.png"> <img src="https://uchicago.s3.amazonaws.com/d0<%= @d2.first %>.png"></p>

<h2>YOU LOSE!</h2>

<%= button_to "Start Over", "/dice", :class => "button", :method => :get  %>